.descriptionbox{
    margin:120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width:171px;
    height:70px;
    border:1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color:#555;
}
.descriptionbox-description{
    border:1px solid #D0D0D0;
    padding:48px;
}

@media(max-width:1280px)
{
    .descriptionbox {
        margin: 70px 85px;
    }
    .descriptionbox-description {
        padding: 30px;
    }
}
@media(max-width:1024px)
{
    .descriptionbox {
        margin: 68px 120px;
    }
}
@media(max-width:800px)
{
    .descriptionbox {
        margin: 70px 65px;
    }
}
@media(max-width:500px)
{
    .descriptionbox {
        margin: 35px 50px;
    }
    .descriptionbox-nav-box {
        width: 140px;
        height: 50px;
    }
}