.shopcategory-banner{
    display:block;
    margin:30px auto;
    width:72%;
}
.shopcategory-indexSort
{
    display: flex;
    margin:0px 270px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding:10px 20px;
    border-radius: 40px;
    border:1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:20px 270px;
    row-gap:50px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:80px auto;
    width:233px;
    height:69px;
    border-radius: 75px;
    background: #ededed;
    color:#787878;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
}

@media(max-width:1280px)
{
    .shopcategory-products{
       margin:20px 104px;
    }
    .shopcategory-indexSort {
        display: flex;
        margin: 0px 160px;
        justify-content: space-between;
        align-items: center;
    }
}
@media(max-width:1024px)
{
    .shopcategory-banner {
        margin: 30px auto;
        width: 80%;
    }
     .shopcategory-indexSort{
        margin: 0px 200px;
    }
    .shopcategory-indexSort p{
        font-size: 18px;
    }
    .shopcategory-sort {
        padding: 10px 20px;
        font-size: 18px;
    }
    .shopcategory-loadmore {
        margin: 50px auto;
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
}

@media(max-width:800px)
{
    .shopcategory-banner {
        width: 73%;
    }
    .shopcategory-indexSort{
        margin: 0px 150px;
    }
    .shopcategory-indexSort p{
        font-size: 16px;
    }
    .shopcategory-sort {
        padding: 5px 20px;
        font-size: 16px;
    }
    .shopcategory-loadmore {
        margin: 40px auto;
        width: 130px;
        height: 40px;
        font-size: 14px;
    }
}

@media(max-width:500px)
{
    .shopcategory-products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin:20px 40px;
        row-gap:50px;
    }
    .shopcategory-banner {
        width: 80%;
    }
    .shopcategory-indexSort{
        margin: 0px 50px;
    }
    .shopcategory-indexSort p{
        font-size: 14px;
    }
    .shopcategory-sort {
        padding: 2px 10px;
        font-size: 14px;
    }
    .shopcategory-loadmore {
        margin: 50px auto;
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
}